# Ignore node_modules directory
node_modules/

# Ignore expo-related files
.expo/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore package-lock.json (optional but recommended for React Native projects)
package-lock.json
